<nav class="nav navbar navbar-expand-lg">
    <a class="navbar-brand" routerLink="/">F.R.E</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
            <li>
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li *ngIf="_router.url != '/uploader'">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li *ngIf="_router.url != '/uploader'">
                <a class="nav-link" routerLink="/register">Register</a>
            </li>
            <li>
                <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li *ngIf="_router.url == '/uploader'">
                <a class="nav-link" href="#" click="logOut()">Log Out</a>
            </li>
          </ul>
    </div>

        
</nav>
