aniso8601==5.1.0
asn1crypto==0.24.0
blinker==1.4
cffi==1.12.2
Click==7.0
cryptography==2.6.1
Flask==1.0.2
Flask-Cors==3.0.7
Flask-Mail==0.9.1
Flask-MySQLdb==0.2.0
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.3.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
mysqlclient==1.4.2.post1
pycparser==2.19
PyJWT==1.7.1
python-dotenv==0.10.1
pytz==2018.9
relativetimebuilder==0.2.0
six==1.12.0
SQLAlchemy==1.2.18
Werkzeug==0.14.1
